*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background: radial-gradient(circle, #020024 0%, #a75a78 48%, #02061c 100%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-wrapper .page-heading {
  margin-bottom: 2rem;
  text-align: center;
}

.page-wrapper .page-heading .main-heading {
  font-style: italic;
}

.page-wrapper .page-heading .text-big {
  font-size: 3.5rem;
  font-weight: bold;
}

.carousel-wrapper {
  width: 600px;
  height: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-wrapper .slide-number {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #fff;
  z-index: 2;
}

.carousel-wrapper .carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  z-index: 1;
}

.carousel-wrapper .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  padding: 4px;
  border: 1px solid #c3c3c3;
  width: 100%;
  max-height: 100%;
  border-radius: 6px;
  -webkit-box-shadow: 2px 10px 2px #c3c3c3;
          box-shadow: 2px 10px 2px #c3c3c3;
}

.carousel-wrapper .carousel-item[data-active-slide] {
  opacity: 1;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.carousel-wrapper .carousel-arrow {
  position: absolute;
  background: none;
  font-size: 40px;
  border: 0;
  z-index: 2;
  color: #fff;
  cursor: pointer;
  padding: 0.25rem 1rem;
}

.carousel-wrapper .carousel-arrow[disabled], .carousel-wrapper .carousel-arrow:disabled {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.3);
  cursor: not-allowed;
}

.carousel-wrapper .carousel-arrow[disabled]:hover, .carousel-wrapper .carousel-arrow:disabled:hover {
  background: none;
}

.carousel-wrapper .carousel-arrow:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.carousel-wrapper .next {
  right: 4px;
}

.carousel-wrapper .prev {
  left: 4px;
}

.carousel-dots {
  position: absolute;
  width: 100%;
  bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
  z-index: 2;
}

.carousel-dots .dots {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 4px;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-dots .dots[data-active-dot] {
  background-color: #fff;
}
/*# sourceMappingURL=style.css.map */